{% load static %}
<!-- base.html -->
<html lang="es">
<head>
    <!-- Otros elementos head -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <!-- Opciones para usuarios autenticados -->
                        {% if user.is_staff %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'lista_usuarios' %}">Usuarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'lista_examenes' %}">Exámenes</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'seleccionar_examen' %}">Seleccionar Examen</a>
                        </li>
                        <!-- Botón de cierre de sesión -->
                        <form action="{% url 'logout' %}" method="post" class="nav-item">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-link">Cerrar sesión</button>
                        </form>
                    {% else %}
                        <!-- Opciones para usuarios no autenticados -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registrar_usuario' %}">Registrarse</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenido de la página -->
    <div class="container mt-4">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
